@page "/"

@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Zortracks.PsInfo.Application.Host.Areas.Home.Resources

<div style="position: relative;">
    <MudImage Style="height: calc(100vh - var(--mud-appbar-height)); width: 100%;" Src="/img/network.jpg" ObjectFit="ObjectFit.Cover" />
    <MudOverlay DarkBackground Absolute Visible>
        <MudText Typo="Typo.h2" Align="Align.Center"><b>Assistance et Services Informatiques</b></MudText>
    </MudOverlay>
</div>

<MudContainer Class="mb-20">
    <MudDivider Class="my-16" />

    <MudGrid Justify="Justify.SpaceAround">
        <MudItem xs="12" md="4">
            <MudButton Class="mud-width-full" Href="/contact" Size="Size.Large" Variant="Variant.Outlined" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Email">Contact</MudButton>
        </MudItem>
        <MudItem xs="12" md="4">
            <MudButton Class="mud-width-full" Href="/services" Size="Size.Large" Variant="Variant.Outlined" Color="Color.Primary" StartIcon="@Icons.Material.Filled.MiscellaneousServices">Services</MudButton>
        </MudItem>
    </MudGrid>

    <MudDivider Class="my-16" />

    <MudText Typo="Typo.h4" Align="Align.Center">Interventions chez les petites et moyenne entreprise, administrations publics et écoles dans l'ouest Lyonnais et la Loire.</MudText>

    <MudDivider Class="my-16" />

    <MudGrid Justify="Justify.SpaceAround">
        <MudItem xs="12" md="4">
            <MudPaper Class="py-12" Outlined>
                <MudStack AlignItems="AlignItems.Center">
                    <MudIcon Color="Color.Primary" Size="Size.Large" Icon="@Icons.Material.Filled.AccountCircle" />
                    <MudText Class="mt-4" Color="Color.Primary" Typo="Typo.h4">Interlocuteur unique</MudText>
                </MudStack>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="4">
            <MudPaper Class="py-12" Outlined>
                <MudStack AlignItems="AlignItems.Center">
                    <MudIcon Color="Color.Primary" Size="Size.Large" Icon="@Icons.Material.Filled.Work" />
                    <MudText Class="mt-4" Color="Color.Primary" Typo="Typo.h4">Expérience et qualité</MudText>
                </MudStack>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="4">
            <MudPaper Class="py-12" Outlined>
                <MudStack AlignItems="AlignItems.Center">
                    <MudIcon Color="Color.Primary" Size="Size.Large" Icon="@Icons.Material.Filled.Speed" />
                    <MudText Class="mt-4" Color="Color.Primary" Typo="Typo.h4">Réactivité</MudText>
                </MudStack>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>